form {
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
}

.input-row {
  margin: 25px 0px;
}

label {
  display: block;
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
}

button {
  border-radius: 0px;
  padding: 5px 15px;
  background: none;
  border: 1px solid #607d8b;
  cursor: pointer;
}

.form-message {
  font-size: 10px;
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}

.has-error {
  border: 1px solid #f44336;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 30px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
